Propose new sort<< >> app extension

If we have consensus to use app extensions with << >> then I propose a useful deterministic example: a sort<< >> app extension for sorting maps into the order specified in the 3rd bullet of Section 4.2.1 of RFC 8949.

Example:

```
sort<<{
    "mySpecialKey": false,
    -16: "foo",
    1: 42,
    "z": h'0123'
}>>
```

would be equivalent to:

```
{
    1: 42,
    -16: "foo",
    "mySpecialKey": false,
    "z": h'0123'
}
```

For completeness, we could likewise define sort7049<< >> to use the "canonical" length-first order defined in RFC 7094.


@cabo pointed out that EDN does not respect the order of maps. Converting from EDN into CBOR can result in any order. Personally I think that is a mistake, but given that legacy, this extension does not make any sense.

I'll leave the issue open in case someone wants to propose an encoding indicator or pragma that accomplishes this. 

After the discussion, I do believe this should be addressed in encoding indicators; this would probably best be done in batch #1.

> After the discussion, I do believe this should be addressed in encoding indicators; this would probably best be done in batch [#1](https://github.com/cbor-wg/edn-literal/pull/1).

batch number 1?  is there an issue or PR for this?

> batch number 1? is there an issue or PR for this?

Based on discussions at the interims, there is a rough proposal for further exercising extension points in the form of an individual draft:
https://datatracker.ietf.org/doc/draft-bormann-cbor-edn-app-ext/

We clearly haven't discussed what else should be included there; the draft is not yet ready for adoption.
If encoding indicators are in that batch, the draft name probably needs to be changed.