Better introduce existing and new encoding indicators (genart review)

Archived-At: <https://mailarchive.ietf.org/arch/msg/last-call/JZxTR3QabJhit2j2zKcD3RmW2WA>

Copying this here:

>  It would be helpful if section 4.2 (IANA Considerations creating the
   Encoding Indications registry) said it was recording the assignments made
   in RFC 8949 section 8.1, and adding the _i indication.  It would also be
   helpful if that sentence noted that _i is defined in the ABNF appendix, as
   otherwise the reader is left going "what is this and where did it come
   from?"